.portal-live-product-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    min-height: 180px;
    border: 1px solid black;
    flex: 0 0 100%;
    margin: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.6rem;
    /*flex: 0 0 calc(33.33% - 20px);
    margin için örnekteki gibi calc işlemi yapılabilir, 10px margin için -20px
    */
}

@media (min-width: 576px) {
    .box {
        flex: 0 0 50%;
        margin: 0;
        text-align: start;
    }
}

@media (min-width: 992px) {
    .box {
        flex: 0 0 33.33%;
    }
}